@media screen and (max-width: 1024px) {
    body {
        margin: 0;
        max-width: 850px;
        margin: auto;
    }
    .section-2 {
        display: flex;
        flex-flow: column wrap;
    }

    .photo-populaires {
        grid-template-columns: repeat(3, 1.5fr);
        grid-template-rows: repeat(1, 2fr);
        grid-gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .populaires-title {
        padding-top: 0;
        padding-bottom: 0.5rem;
    }

    .populaires {
        padding: 1rem 1.5rem;
    }

    .image-activite {
        height: 13rem;
    }

    .filtres {
        justify-content:left;
        width: 100%;
        padding-left: 0;
    }

    .filtre-title {
        margin: 1rem 0;
        width: 100%;
    }

    .btn-filtre {
        padding: 0 0.6rem;
        margin-right: 0.7rem;
    }

    .btn-filtre h3 {
        font-size: 0.8rem;
    }

    
    .btn-filtre i {
        padding-left: 3px;
        width: 5%;
        height: 5%;
        margin-right: 1rem;
    }

    .card-activite-description {
        align-items: center;
        height: 2.5rem;
    }

    .card-activite-description h3 {
        padding: 0;
    }
    }

@media screen and (max-width: 865px) { 
    body {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: auto;
        max-width: 550px;
        min-width: 320px;
    }

    .section-1 {
        margin: 0 2.5rem;
      }

    .nav-left {
        margin: 2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .nav-right {
        width: 100%;
    }

    .section-2 {
        flex-flow: column-reverse wrap;
        grid-gap: 1.2rem;
    }

    .formulaire {
        width: 100%;
        justify-content: flex-start;
    }

    .search-border {
        border: solid 1px var(--grey2);
        border-radius: 15px;
    }

    .input-search {
      border: none;
    }

    .search-icon {
        display: block;
    }

    .btn-search h4 {
        display: none;
    }

    .btn-search {
        width: 3rem;
        border-radius: 15px;
    }

    .hebergement {
        background-color: var(--grey2);
        border-radius: 20px;
        padding: 0 2.5rem;
    }

    .btn-nav {
        height: 3rem;
        width: 50%;
    }
    
    .btn-nav:hover {
        color: var(--main-blue);
        border-bottom: 2px var(--main-blue) solid ;
        border-top: 0;
    }

    .filtres {
        display: grid;
        grid-template-columns: repeat(2, 1.5fr);
        grid-gap: 1.5rem;
    }

    .btn-filtre {
        margin-right: 0;
    }

    .btn-nav a {
        padding-bottom: 1rem;
    }
      
    .photo-populaires {
        grid-template-columns:none;
        grid-template-rows: repeat(3, 2fr);
        grid-gap: 2rem;
    }

    .populaires {
        border-radius: 0;
    }

    .hebergement {
        background-color: white;
    }

    .photo-hebergement {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 2fr);
        grid-gap : 2.5rem;
    }

    .images-heber {
        height: 8rem;
    }

    .card-activite-container {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 2fr);
    }
  
    footer {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 2fr);
    }

    .text-footer {
        margin-bottom: 0.8rem;
    }
      
}

@media screen and (max-width: 453px) { 
    .section-1 {
        margin: 0;
    }
    
    .btn-filtre h3 {
        font-size: 0.6rem;
    }

    .location {
        width: 3rem;
    }

    .input-search {
        width: 12rem;
    }
}