
:root {
    --main-blue : #0065FC;
    --clear-blue : #DEEBFF;
    --grey : #D9D9D9;
    --grey2 : #F2F2F2;
    --main-font : 'Raleway', sans-serif;
  }

body {
  margin: 0;
  max-width: 1400px;
  margin: auto;
  font-family: var(--main-font);
}

footer {
  display: grid;
  grid-template-columns:  repeat(3, 2fr);
  background-color: var(--grey2);
  margin-top: 50px;
  padding: 1rem 0 0.5rem 2rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  font-style: bold;
}

h3 {
  margin: 0;
  font-size: 1.03rem;
  font-weight: 700;
  font-style: bold;
}

h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

::placeholder { 
  color: black;
  opacity: 1; 
}

.directionRow {
  display: flex;  
  flex-flow: row wrap;
}

.directionColumn {
  display: flex;
  flex-flow: column wrap;
}

.blue-btn-icon {
    color: var(--main-blue);
    padding-right: 10px;
}

.blue {
  color: var(--main-blue);
}

/* ---------------------------nav bar--------------------------*/
.navi {
  width: 100%;
  margin-bottom: 1rem;
}

.nav-left {
  width: 50%;
  align-items: end;
}

.nav-right {
  width: 50%;
  justify-content: flex-end;
}

.logo {
  width: 61.09px;
  height: 19px;
}

.btn-nav {
  display: flex;
  align-items: end;
  justify-content: center;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  background-color: #ffff;
  height: 67px;
  width: 162px;
  cursor: pointer;
}

.btn-nav:hover a {
  color: var(--main-blue);
}

.btn-nav:hover {
  color: var(--main-blue);
  border-top: 2px var(--main-blue) solid ;
}

/*--------------------------section 1-------------------------------*/

.formulaire {
  height: 49px;
  width: 464px;
  padding: 2rem 0;
}

.search-icon {
  display: none;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey2);
  border-radius: 15px 0 0 15px;
  width: 50px;
}

.btn-search {
  border: none;
  background-color: var(--main-blue);
  color: white;
  border-radius: 0 15px 15px 0;
  width: 120px;
  cursor: pointer;
  font-weight: 700;
}



.input-search {
  font-size: 18px;
  color: black;
  border-left: 0;
  border-right: 0;
  border: solid 1px var(--grey2);
  padding-left: 15px;
  font-weight: bold;
}

.input-search:focus {
  outline: none;
}

.filtres {
  width: 90%;
  padding-left: 35px;
  align-content: center;
  justify-content: left;
}

.filtre-title {
  margin-top: 0;
  /* height: 30%; */
}

.filtre-title h2 {
  margin: 0;
}

.box-filter {
  align-items: center;
}

.btn-filtre {
  height: 50px;
  align-items: center;
  border-radius: 25px;
  border: 2px solid var(--grey);
  background-color: white;
  cursor: pointer;
  padding: 0 15px 0 15px;
  margin-right: 1rem;
}

.btn-filtre:hover {
  background-color: var(--clear-blue);
}

.information {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 7fr;
  /* margin-top: 30px;
  align-items: center; */
}

.h4-info {
  display: flex;
  align-items: center;
}

.rond-container {
  width: fit-content;
  display: flex;
  align-items: center;
}

.rond {
  border: 1.5px solid var(--grey);
  border-radius: 25px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

/*---------------------------------- section 2 -----------------------------*/

.section-2 {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 3fr 1.5fr;
  margin: 40px 0;
}

.hebergement {
  background-color: var(--grey2);
  border-radius: 20px;
  padding: 1.2rem 2.5rem;
}

.hebergement-title {
  padding-bottom: 1rem;
}

.card {
  box-shadow: rgb(145, 145, 145, 0.4) 0px 4px 8px;
  padding: 0.3rem 0.3rem;
  background-color: white;
  border-radius: 20px;
}

.photo-hebergement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap : 2.5rem;
}

.photo-hebergement h3 {
  margin: 0.8rem 0;
}

.photo-hebergement h4 {
  margin-bottom: 0.8rem;
}

.images-heber {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit:cover;
  aspect-ratio: 16 / 9;
}

.card-description {
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.card-description i {
  margin-bottom: 0.5rem;
}

.hebergement-footer {
  padding-top: 1rem;
}

.last-star {
  color: var(--grey2);
}

/*----------------------- les plus populaires--------------------*/
.populaires {
  background-color: var(--grey2);
  border-radius: 20px;
  padding: 1.2rem 1.5rem;
}

.populaires-title {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.photo-populaires {
  display: grid;
  grid-gap: 3.5rem;
  grid-template-rows: repeat(3, 2fr);
}

.photo-populaires h3 {
  margin: 0.8rem 0 0 0.8rem;
}

.photo-populaires h4 {
  margin: 0.4rem 0 0 0.8rem;
}

.stars-pop {
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
}

.image-populaire {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 20px 0 0 20px;
  aspect-ratio: 16 / 9;
}

.card-populaires {
  box-shadow: rgb(145, 145, 145, 0.4) 0px 4px 8px;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  padding: 0.3rem 0.3rem;
}

.card-pop-link {
  height: 10rem;
}

.card-pop-description {
  justify-content: space-between;
}

/*-------------------------------- section 3 ----------------------------------*/

.section-3 {
  margin-top: 100px;
  padding: 0 30px;
}



.card-activite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 50px;
}

.card-activite {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgb(145, 145, 145, 0.4) 0px 4px 8px;
}


.card-activite h3 {
  padding: 0.5rem 0;
}

.image-activite {
  border-radius: 20px 20px 0 0;
  height: 25rem;
  width: 100%;
  object-fit:cover;
}

.card-activite-description {
  padding: 10px 0 10px 15px;
  display: flex;
  justify-content:left;
  align-items: center;
  height: 2rem;
}

.a-activite {
    text-decoration: none;
    color: black;
}

/*---------------------------------------- footer ---------------------------------------*/
footer h4 {
  margin-bottom: 0.7rem;
}